<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Moreton Bay Art | Register</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>


<body>

  <header class="header">
	  <img src="../static/images/logo.jpg" alt="Moreton Bay Art Competition Logo" class="logo">
	  <h1>Moreton Bay Art</h1>
    <h3>Celebrating creativity across our community</h3>
  </header>

<nav>
    <a href="{{ url_for('index') }}">Home</a> |
    <a href="{{ url_for('gallery') }}">Gallery</a> |
    {% if session['user_id'] %}
        <a href="{{ url_for('upload') }}">Upload</a> |
        <a href="{{ url_for('logout') }}">Log Out</a>  {% else %}
        <a href="{{ url_for('login') }}">Sign In</a> |
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
</nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <section class="container">
    <h2>Submit Your Artwork</h2>	  
	  <form>
      <input type="text" placeholder="Your Name" required>
      <input type="text" placeholder="Title of Artwork" required>
      <input type="file" accept="image/*" required>
      <textarea rows="4" placeholder="Short Description (optional)"></textarea>
      <label for="submission-type">Submission Type:</label>
      <button type="submit">Upload</button>
    </form>
  </section>
  

  <footer>
    <p>&copy; 2025 Moreton Bay Art Competition. All rights reserved.</p>
	</footer>

</body>
</html>